@charset "UTF-8";

body {
    background-color:blanchedalmond;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
}

h1 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align:center;
    color:purple;
}

h2,h3,h4,h5,h6 {
    color:rgb(64, 34, 175);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large; 
}

p {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.names_container {
    display: flex;
}

.names_container > div {
    width:33%;
}

table, th, td, tr {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border:1px solid black;
    border-collapse: collapse;
    padding:15px;
}